//*color*//
$white:#fff;
$turquoise:#7CEA9C;
$dark-gray:#2D3047;
$black:#071013;



//tipografia//
$lato: 'Lato', sans-serif;


//*peso*//
$light: 300;
$regular: 400;
$bold:700;
$black:900;

//*tamaño*//
$xxx-large:70px;
$xx-large: 40px;
$x-large: 30px;
$large:18px;
$medium: 16px;
